<div class="col-md-10">
  <%= render "layouts/error", resource: @customer %>
  <h3 style="margin-left: 50px;"><span>登録情報編集</span></h3>
  <%= form_with model: @customer, url: customers_path, local: true do |f| %>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :last_name, "名前", class: "control-label" %>
      </div>
      <div class="col-md-4 form-group form-inline">
        <%= f.label :last_name, "(姓)", class: "control-label", style: "display: inline-block; margin-right: 15px;" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="col-md-4 form-inline">
        <%= f.label :first_name, "(名)", class: "control-label", style: "display: inline-block; margin-right: 15px;"%>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :last_name_kana, "フリガナ", class: "control-label" %>
      </div>
      <div class="col-md-4 form-group form-inline">
        <%= f.label :last_name_kana, "(セイ)", class: "control-label" %>
        <%= f.text_field :last_name_kana, class: "form-control" %>
      </div>
      <div class="col-md-4 form-group form-inline">
        <%= f.label :first_name_kana, "(メイ)"%>
        <%= f.text_field :first_name_kana, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :email, "メールアドレス", class: "control-label" %>
      </div>
      <div class="col-md-4 form-group form-inline" style="padding-left: 57px;">
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :postcode, "郵便番号(ハイフンなし)", class: "control-label" %>
      </div>
      <div class="col-md-4 form-group form-inline", style="padding-left: 57px;">
        <%= f.text_field :postcode, class: "form-control" %>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :address, "住所", class: "control-label" %>
      </div>
      <div class="col-md-8 form-group" style="padding-left: 57px;">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :tel, "電話番号(ハイフンなし)", class: "control-label" %>
      </div>
      <div class="col-md-4 form-group form-inline" style="margin-left: 42px;">
        <%= f.text_field :tel, class: "form-control" %>
      </div>
      <div class="col-md-4">
    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col-md-8 text-center">
        <%= f.submit "編集内容を保存する", class: "btn btn-primary", style: "width: 300px;"%>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "退会する", quit_path, class: "btn btn-danger" %>
      </div>
    </div>

  <% end %>
</div>