<div class="col-md-10 col-md-offset-1">

  <%= render "layouts/error", resource: @item %>
  <h3><span style="background-color: gray;">商品編集</span></h3>
  <div class="row">
  <%= form_with model: @item, url: admin_item_path(@item), local: true do |f| %>
    <div clas="col-md-4">
      <%= f.attachment_field :image, class: "btn" %>
      <% unless @item.image.present? %>
        <span>選択されていません</span>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name %>
      </div>

      <div class="form-group">
        <%= f.label :description, "商品説明" %>
        <%= f.text_area :description %>
      </div>
      
      <div class="form-group">
        <%= f.label :category %>
          <%= f.select :category, Category.for_select, selected: @item.category.name %>
      </div>

      <div class="form-group">
        <%= f.label :price, "税抜価格" %>
        <%= f.number_field :price %>円
      </div>

      <div class="form-group">
        <%= f.label :is_active, "販売ステータス" %>
        <%= f.select :is_active, [[ "販売中", true ], [ "販売中止", false ]], selected: @item.is_active %>
      </div>
    </div>

    <%= f.submit "変更を保存", class: "btn btn-primary" %>

  <% end %>
  </div>
</div>