<div class="col-md-10 col-md-offset-1">
  <%= render "layouts/error", resource: @item %>
  <h3><span>商品新規登録</span></h3>
  <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
  <div class="row">
      <div class="col-md-4">
        <%= attachment_image_tag @item, :image, class: "img-square", fallback: "noimage.jpg", size: "300x300" %>
        <%= f.attachment_field :image %>
        <% unless @item.image.present? %>
          <span>選択されていません</span>
        <% end %>
      </div>

      <div class="col-md-4 col-md-offset-2">
        <div class="form-group">  
          <%= f.label :name, "商品名" %>
          <%= f.text_field :name, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :description, "商品説明"%>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :category, "ジャンル" %>
          <%= f.select :category, Category.for_select, { include_blank: "--選択してください--" }, { class: "form-control" } %>
        </div>

        <div class="form-group">
          <%= f.label :price, "税抜価格"%>
          <div class="input-group">
            <%= f.text_field :price, class: "form-control" %>
            <span class="input-group-addon">円</span>
        </div>

        <div class="form-group">
          <%= f.label :is_active, "販売ステータス" %>
          <%= f.select :is_active, [["販売中", true], ["販売中止", false]], { include_blank: "--選択して下さい--" }, { class: "form-control" } %>
        </div>
      </div>
      <%= f.submit "新規登録", class: "btn btn-primary" %>
  </div>
  <% end %>

</div>