<tr>
  <td><%= order_item.item.name %></td>
  <td><%= order_item.price %></td>
  <td><%= order_item.amount %></td>
  <td><%= order_item.subtotal %></td>
  <%= form_with model: order_item, url: admin_order_item_path(order_item), local: true do |f| %>
    <td><%= f.select :status, ["着手不可", "製作待ち", "製作中", "製作完了"], selected: order_item.status %></td>
    <td><%= f.submit "更新", class: "btn btn-primary update-make-status" %></td>
  <% end %>
</tr>