<div class="col-md-10 col-md-offset-1">
  <%= render "layouts/error", resource: @delivery %>
  <h3><span>配送先編集</span></h3>

  <%= form_with model: @delivery, local: true do |f| %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :postcode, "郵便番号(ハイフンなし)", class: "control-label" %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group form-inline">
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :address, "住所" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :name, "宛名", class: "control-label" %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group form-inline">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-right">
        <%= f.submit "編集する", class: "btn btn-primary text-right", style: "width: 150px;" %>
      </div>
    </div>

  <% end %>
</div>