<% provide(:title, "注文履歴詳細") %>
<div class="col-md-12">
  <%= render "layouts/error", resource: @order %>
  <h3 class="order-show-title"><span>注文履歴詳細</span></h3>
  <table class="table no-border no-color-th">
    <tr class="row">
      <th class="col-md-2">購入者</th>
      <td class="col-md-10"><%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %></td>
      </tr>
    <tr class="row">
      <th class="col-md-2">配送先</th>
      <td class="col-md-10">〒<%= @order.deliver_postcode %>&nbsp;<%= @order.deliver_address %><br><%= @order.deliver_name %></td>
    </tr>
    <tr class="row">
      <th class="col-md-2">支払方法</th>
      <td class="col-md-10"><%= @order.how_to_pay %></td>
    </tr>
    <tr class="row">
      <th class="col-md-2">注文ステータス</th>
      <td class="col-md-10" id="order-status">
        <%= render "admin/orders/order-status", order: @order %>
      </td>
    </tr>
  </table>

  <div class="row order-item-info-row">
    <div class="col-md-8">
      <table class="table no-border">
      <thead>
        <tr><th>商品名</th><th>単価（税込）</th><th>数量</th><th>小計</th><th>製作ステータス</th><th></th></tr>
      </thead>
      <tbody>
        <%= render @order_items %>
      </tbody>
    </table>
    </div>
  
    <div class="col-md-4 order-pay-info">
      <table class="table no-border no-color-th order-pay-info-table">
        <tr><th><b>商品合計</th><td class="text-right"><%= @order.total_price.to_s(:delimited) %>円</td></tr>
        <tr><th><b>送料</b></th><td class="text-right"><%= @order.deliver_fee.to_s(:delimited) %>円</td></tr>
        <tr><th><b>請求金額合計</b></th><td class="text-right"><b><%= @order.get_whole_total_price.to_s(:delimited) %>円</b></td></tr>
      </table>
    </div>  
</div>