<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/items/category" %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-5">
          <%= attachment_image_tag @item, :image, :fill, 500, 300, format: "jpg", fallback: "noimage.jpg", size: "500x300" %>
          <h3><%= @item.name%></h3>
          <p><%= @item.description %></p>
          <h3>¥<%= (@item.price * 1.1).to_i %>(税込)</h3>
          <%= form_with model: @cart_item, local: true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :amount, options_for_select([1, 2, 3, 4, 5]), include_blank: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>