<header>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <% if admin_signed_in? %>
      <%= link_to "LOGO", admin_top_path %>
    <% else %>
      <%= link_to "LOGO", root_path %>
    <% end %>
    <button type="button", class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav navbar-right">
      <% if customer_signed_in? %>
        <li>ようこそ、<%= current_customer.full_name_with_space %>さん！</li>
        <li><%= link_to "マイページ", customers_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "カート", cart_items_path %></li>
        <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "商品一覧", admin_items_path%></li>
        <li><%= link_to "会員一覧", admin_customers_path %></li>
        <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
        <li><%= link_to "ジャンル一覧", new_admin_category_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <li>
          <%= form_with scope: :search, url: admin_search_path, class: "form-inline", local: true do |f| %>
            <%= f.text_field :keyword, placeholder: "Search", class: "form-control", style: "margin-top: 8px; padding: 5px 15px; line-height: 20px;" %>
            <%= f.submit "SEACH!", class: "btn", style: "padding: 10px 15px; line-height 20px; margin-right: 5px; margin-top: 5px;" %>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "新規登録", new_customer_registration_path %></li>
        <li><%= link_to "ログイン", new_customer_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
</header>