<nav class="navbar navbar-default">
  <div class="navbar-header">
    <%= link_to "LOGO", root_path %>
    <button type="button", class="navbar-toggle collapsed" data-toggle="#navbar-content">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav navbar-right">
      <% if customer_signed_in? %>
        <li><%= link_to "マイページ", customers_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "カート", cart_items_path %></li>
        <li><%= link_to "ログアウト", destroy_customer_session_path %></li>
      <% elsif admin_signed_in? %>
        <li><a href="#">商品一覧</a></li>
        <li><a href="#">会員一覧</a></li>
        <li><a href="#">注文履歴一覧</a></li>
        <li><a href="#">ジャンル一覧</a></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path %></li>
      <% else %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "商品一覧", items_path %></li>
        <li><%= link_to "新規登録", new_customer_registration_path %></li>
        <li><%= link_to "ログイン", new_customer_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>