<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <%= render "layouts/header" %>
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
      
      <div class="row">
        <%= yield %>
      </div>
  </body>
</html>
